body {
    font-family: 'Times New Roman', serif;
    font-size: 16;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', 'Arial', sans-serif;
    margin-top: 2em;
    margin-bottom: 1em;
}

code, pre {
    font-family: 'Courier New', monospace;
}

blockquote {
    font-family: 'Georgia', serif;
    font-style: italic;
}